.about-section {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.about-section ul li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ffffffcc;
}

.about-section h2,
.about-section p {
  color: #fff;
}
